* {
    margin: 0;
}
header nav {
    display: flex;
    background-color: #5A5A5A;
    padding: 0px 20px;
}
header nav a {
    text-decoration: none;
    color: white;
    margin-right: 50px;
    font-size: large;
    padding: 20px;
}

nav a:hover {
    background-color: red;
}
