


header > div {
    color: red;
}


header > img {
    width: 100px;
}

u {
    color: red;
}

.middle {
    display: flex;
    justify-content: center;
}

.border-bottom {
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}
footer > div > p {
    color: blue;
}